{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Log in
{% endblock %}

{% block body %}

<div class="login_info">

    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endfor %}

    <form method="post">
        {% if error %}
            <div class="login_message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="login_message">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        <div class="form-group">
            <label class="form_login" for="inputEmail">Email</label>
            <input class="input_login" type="email" value="{{ last_username }}" name="email" id="inputEmail" required autofocus>
        </div>

        <div class="form-group">
            <label class="form_login" for="inputPassword">Password</label>
            <input class="input_login" type="password" name="password" id="inputPassword" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="form-group checkbox mb-3">
            <label><input type="checkbox" name="_remember_me"> Remember me</label>
        </div>

        <button class="btn btn-lg btn-primary" type="submit">Sign in</button>

        <p><a href="{{ path('app_forgot_password') }}">Forgot your password?</a></p>
    </form>

</div>

{% endblock %}
