{# templates/profile/edit.html.twig #}
{% extends 'base.html.twig' %}
    {% block title %}
        {{parent()}} | Edit
    {% endblock %}
{% block body %}

{% include 'components/navbar.html.twig' %}

<div class="edit_info">
    <h1>Edit Your Profile</h1>

    {{ form_start(form) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.email) }}
        {{ form_row(form.image)}}
    <button class="btn btn-primary">Save Changes</button>
    {{ form_end(form) }}
    <form action="{{ path('userpage', {id: user.id}) }}" method="get" style="margin-top: 5px;">
        <button type="submit" class="btn btn-primary">Go Back</button>
    </form>
</div>


{% endblock %}
