{% extends 'base.html.twig' %}
{% block body %}
<div class="container mt-4">
    <h1>Add New Employee</h1>
    {% for message in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <a href="{{ path('ex13_employee_list') }}" class="btn btn-secondary mt-3">Back to list</a>
</div>
{% endblock %}
