<div class="user_info">

    <img src="{{ user.image is not empty ? user.image : asset('images/default_profile.jpeg') }}"
          alt="Profile Image"
          style="max-width:150px;">

    <div class="pick_and_name">

        <h2 class="user_name">
            {{ user.getFirstName() }}
            {{ user.getLastName() }}
        </h2>

        <div class="levelBar">
            <p>Level {{ user.level }} — {{ user.experience }} XP / {{ xpGoal }} XP</p>

            <div class="xp-bar">
                <div class="xp-fill" style="width: {{ xpProgress }}%;"></div>
            </div>
        </div>
    
    </div>

    <div class="info">
        <ul>
        <li>Email: {{ user.getEmail() }}</li>
        <li>Ev. P: {{ user.getEvalPoints() }}</li>
        </ul>
    </div>

</div>
