{% if form is defined and app.user %}
    <section id="post">
        <h2>Post a Comment</h2>
        {{ form_start(form, {'action': path('e03posts')}) }}
            {{ form_row(form.title) }}
            {{ form_row(form.content) }}
            <button type="submit">Submit</button>
        {{ form_end(form) }}
    </section>
{% endif %}
{% for post in posts %}
    <div class="post">
        <h3>
        {% if app.user %}
            <a href="{{ path('post_detail', {'id': post.id}) }}">{{ post.title }}</a>
        {% else %}
            {{ post.title }}
        {% endif %}
        </h3>
        <p>{{ post.content }}</p>
    </div>
{% else %}
    <p>No posts available.</p>
{% endfor %}
