<h1>Day 06 Projects!</h1>
<div>
    <a href="{{ path('e01homepage') }}">E01</a>
</div>
<div>
    <a href="{{ path('e02homepage') }}">E02</a>
</div>
<div>
    <a href="{{ path('e03homepage') }}">E03</a>
</div>
<div>
    <a href="{{ path('e04homepage') }}">E04</a>
</div>
<div>
    <a href="{{ path('e05homepage') }}">E05</a>
</div>
<div>
    <a href="{{ path('e06homepage') }}">E06</a>
</div>
<div>
    <a href="{{ path('e07homepage') }}">E07</a>
</div>